# Variables de Entorno - Copia esto a un archivo .env y ajusta los valores según sea necesario

# Configuración del Servidor
PORT=3000

# Configuración de PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=likeme
DB_PASSWORD=postgres
DB_PORT=5432
